{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
    <br><br><br><br>
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nomplat</th>
                <td>{{ plat.nomplat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ plat.code }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plat.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plat_index') }}">Retour à la Liste</a>
  //
    <a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
